:root {
    --main-green-color: rgba(9, 82, 9, 0.829);
    --title-font-family: 'Bebas Neue', cursive;
}

html {
    background: url(images/ogdrawnwood.png);
    background-position: center;
}

#navbar {
    background-color: var(--main-green-color);
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 98.9%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 9;
    margin-right: 1px
}

/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: rgba(255,255,255,0.829);
    text-align: center;
    padding: 9.8px;
    text-decoration: none;
    font-family: var(--title-font-family);
    font-size: 25px;
    margin-right: 10px;
}

#navbar a:hover {
    background-color: #ddd;
    color: rgba(9, 82, 9);
}
#hero-image {
    background: url("/images/banana_transparent.png");
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 48.8px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

#hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--title-font-family);
    font-style: bold;
    font-size: 175px;
    -webkit-text-stroke: 3px var(--main-green-color);
    overflow: hidden
}

#button-container {
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--title-font-family);
    font-size: 40px;
    overflow: hidden;
}

#greeting-container {
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--title-font-family);
    font-size: 40px;
    -webkit-text-stroke: 1px var(--main-green-color);
    overflow: hidden;
}

.button {
    background-color: var(--main-green-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--title-font-family);
    font-size: 40px;
    margin: 3px 1px;
    cursor: pointer;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.about-title-container {
    position: relative;
    text-align: left;
    margin-left: 50px;
    top: 100px;
}

.about-title-text {
    position: absolute;
    top: 7.5px;
    left: 20px;
    margin-right: auto;
    font-family: var(--title-font-family);
    color: white;
    font-style: bold;
    font-size: 120px;
    -webkit-text-stroke: 2px var(--main-green-color);
}

.about-image-container {
    position: relative;
    margin-left: 50px;
    background-color: rgba(151, 191, 128, 0.877);
    padding: 50px;
    width: 300px;
    top: 130px;
}

.about-text-container {
    position: relative;
    margin-left: 650px;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 30px;
    width: 600px;
    top: -530px;
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    margin-bottom: -315px;
}

#about-text {
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgba(9, 82, 9);
}

.proj-title-container {
    padding-top: 300px;
    position: relative;
    text-align: left;
    margin-left: 50px;
    top: -300px;
}

.proj-title-text {
    position: absolute;
    top: 300px;
    left: 20px;
    margin-right: auto;
    font-family: var(--title-font-family);
    color: white;
    font-style: bold;
    font-size: 120px;
    -webkit-text-stroke: 2px var(--main-green-color);
}

.proj-1-container {
    position: absolute;
    text-align: center;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    padding: 50px;
    width: 300px;
    top: 2050px;
    height: auto;
    padding-bottom: -50%;
}

.proj-1-container:hover {
    background-color: rgba(151, 191, 128, 0.877);
}

.proj-2-container {
    position: absolute;
    text-align: center;
    margin-left: 50%;
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    padding: 50px;
    width: 300px;
    top: 2050px;
    height: auto;
    padding-bottom: -50%;
}

.proj-2-container:hover {
    background-color: rgba(151, 191, 128, 0.877);
}

.proj-3-container {
    position: relative;
    text-align: center;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
                linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    padding: 50px;
    width: 300px;
    top: 205px;
    height: auto;
    padding-bottom: -50%;
}

.proj-3-container:hover {
    background-color: rgba(151, 191, 128, 0.877);
}

.proj-4-container {
    position: relative;
    text-align: center;
    margin-left: 50.6%;
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    padding: 50px;
    width: 300px;
    top: -199px;
    height: auto;
    overflow: hidden;
    padding-bottom: -50%;
}

.proj-4-container:hover {
    background-color: rgba(151, 191, 128, 0.877);
}

#proj-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(9, 82, 9);
}

.comment-title-container {
    padding-top: -10px;
    position: relative;
    text-align: left;
    margin-left: 50px;
    padding-bottom: 60px;
}

.comment-title-text {
    top: -10px;
    position: absolute;
    left: 20px;
    margin-right: auto;
    font-family: var(--title-font-family);
    color: white;
    font-style: bold;
    font-size: 120px;
    -webkit-text-stroke: 2px var(--main-green-color);
    padding-bottom: 60px;
}

#comments-container {
    list-style-type: none;
    margin-left: 20%;
}

.comment {
    background-color: rgba(255, 255, 255, 0.35);
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 1.5 1.5px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgba(9, 82, 9);
}

.comment span {
    flex-grow: 1;
}

.comment-form {
    top: 100px;
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgba(9, 82, 9);
    background-image: linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877)),
            linear-gradient(rgba(151, 191, 128, 0.877), rgba(151, 191, 128, 0.877));
    background-color: rgba(255, 255, 255, 0.35);
    background-repeat: no-repeat;
    background-size: 10px 5px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid rgba(151, 191, 128, 0.877);
    border-width: 0 5px;
    width: 500px;
    padding: 40px;
}

.number-com-form {
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: rgba(9, 82, 9);
}

.skills-title-container {
    padding-top: -10px;
    position: relative;
    text-align: left;
    margin-left: 50px;
    padding-bottom: 30px;
}

.skills-title-text {
    top: -10px;
    position: absolute;
    left: 20px;
    margin-right: auto;
    font-family: var(--title-font-family);
    color: white;
    font-style: bold;
    font-size: 120px;
    -webkit-text-stroke: 2px var(--main-green-color);
    padding-bottom: 30px;
}

#chart-container {
    padding: 100px;
    padding-bottom: 20px;
    margin-left: 15%;
}

.button2 {
    background-color: var(--main-green-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--title-font-family);
    font-size: 20px;
    margin: 3px 1px;
    cursor: pointer;
}

#toggle-button {
    padding-left: 100px;
    padding-bottom: 200px;
    margin-left: 15%;
}

#map {
    position: absolute;
    width: 700px;
    height: 700px;
    margin-left: 20%;
}